<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" style="padding-left: 150px; padding-right: 150px; padding-top: 20px;" >
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <label for="ilSelect">İl</label>
    <select class="form-select mb-3 form-select-sm" aria-label="Default select example"  (change)="onIlChange()" [(ngModel)]="selectedIlId" formControlName="ilSelect"  >
      <option *ngFor="let item of il" value="{{item.id}}">{{item.ilAdi}}</option>
    </select> 
    
    <div *ngIf="selectedIlId" >
      <label for="ilceSelect">İlçe</label>
      <select class="form-select mb-3 form-select-sm" aria-label="Default select example" (change)="onIlceChange()" [(ngModel)]="selectedIlceId" formControlName="ilceSelect"  >
      <option *ngFor="let item of ilce" value="{{item.id}}">{{item.ilceAdi}}</option>
    </select>  
  </div> 
  <div *ngIf="selectedIlceId">
    <label for="mahalleSelect">Mahalle</label>
    <select class="form-select mb-3 form-select-sm" aria-label="Default select example" formControlName="mahalleId" [(ngModel)]="selectedMahalleId"  >
      <option *ngFor="let item of mahalle" value="{{item.id}}">{{item.mahalleAdi}}</option>
    </select> 
  </div>
    <label for="nitelikSelect">Nitelik</label>
    <select class="form-select mb-3 form-select-sm" aria-label="Default select example" formControlName="nitelik"  > 
      <option value="Arsa">Arsa</option>
      <option value="Tarla">Tarla</option>
      <option value="Mesken">Mesken</option>
    </select> 

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ada</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" formControlName="ada"  >
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Parsel</label>
      <input type="text" class="form-control form-control-sm" formControlName="parsel"  >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" >Koordinat Bilgileri</label>
      <input type="text" formControlName="koordinatBilgileri" [(ngModel)]="coordinates"  readonly class="form-control form-control-sm"  >
    </div>

    
    
    <div class="d-grid gap-2 pb-4">
      <button type="submit" class="btn btn-dark"  >Ekle</button>
    </div>
    
  </form></div>

</body>
</html>