<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  
  
  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="container form">
      <div class="mb-3">
        <h1>Giriş Sayfası</h1>
      </div>
      
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">E-mail:</label>
      <input type="text" class="form-control inputs" aria-describedby="emailHelp" formControlName="email"  >
      <div id="emailHelp" class="form-text"></div>
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Parola:</label>
      <input type="password" class="form-control inputs" formControlName="password"  >
    </div>
    
    <div class="d-grid gap-2 pb-4">
      <button type="submit" class="btn ekleBtn"  >Giriş Yap</button>
    </div>
   
  </div>
  </form>
<br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>