<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deneme</title>
</head>

<body >
  <div class="container tablea"  >
    <div class="row justify-content-center mt-3 mb-2">
    <select class="form-select aramaSelect" aria-label="Default select example"
       [(ngModel)]="filtreleSecili">
      <option value="filtrele">Filtrele..</option>
      <option value="id">İd</option>
      <option value="il">İl</option>
      <option value="ilce">İlçe</option>
      <option value="mahalle">Mahalle</option>
      <option value="ada">Ada</option>
      <option value="parsel">Parsel</option>
      <option value="nitelik">Nitelik</option>
      <option value="koordinatbilgileri">Adres</option>
    </select>
    <input type="text" placeholder="Değer.." [(ngModel)]="filtreleDeger" class="form-control aramaInput" >
    <button class="btn  aramaButton" (click)="filtrele()">Ara..</button>
    <button class="icon-button-middle  aramaIconButton"  (click)="get()"><i class="fas fa-sync-alt  icon-medium" ></i></button></div>
    
    <table class="table table-bordered table-secondary mb-3 ">
      <thead>
        <tr >
          <td class="tdCheck trthead"> <input type="checkbox" id="selectAll" (change)="onSelectAllChange($event)"></td>
          <th scope="col" class="tdCheck trthead">Id</th>
          <th scope="col" class="td trthead">İl</th>
          <th scope="col" class="td trthead">İlçe</th>
          <th scope="col" class="td trthead">Mahalle</th>
          <th scope="col" class="td trthead">Ada</th>
          <th scope="col" class="td trthead">Parsel</th>
          <th scope="col" class="td trthead" >Nitelik</th>
          <th scope="col" class="tdKoord trthead">Koordinat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedTasinmazlar" >
          <td class="tdCheck trBody"><input type="checkbox" [checked]="selectedIds.includes(item.id)" value="item.id" (change)="onCheckboxChange($event, item.id)"></td>
          <th class="tdCheck trBody" scope="row">{{item.id}}</th>
          <td class="td trBody">{{item.mahalle.ilce.il.ilAdi}}</td>
          <td class="td trBody">{{item.mahalle.ilce.ilceAdi}}</td>
          <td class="td trBody">{{item.mahalle.mahalleAdi}}</td>
          <td class="td trBody">{{item.ada}}</td>
          <td class="td trBody">{{item.parsel}}</td>
          <td class="td trBody">{{item.nitelik}}</td>
          <td class="td trBody">{{item.koordinatBilgileri}}</td>

        </tr>

        <tr *ngFor="let item of listMaker">
          <th class="tdCheck trBody" scope="row"></th>
          <td class="tdCheck trBody"></td>
          <td class="td trBody"></td>
          <td class="td trBody"></td>
          <td class="td trBody"></td>
          <td class="td trBody"></td>
          <td class="td trBody"></td>
          <td class="td trBody"></td>
          <td class="td trBody"></td>
        </tr>

      </tbody>
    </table>
    <div class="text-center ">
      <button class="icon-button-large " (click)="ekle()"><i class="fas fa-plus-circle icon-large renkEkle" ></i></button>
      <button class="icon-button-large " (click)="duzenle()"><i class="fas fa-edit icon-large  renkEdit"
          ></i></button>
      <button class="icon-button-large" (click)="deleteSelected()"><i class="fas fa-trash icon-large renkSil"
          ></i></button>
      <button class="icon-button-large" (click)="exportToCSV()"><i class="fas fa-print icon-large renkRapor"
          ></i></button>
    </div>
    <div class="text-center mt-3">
      <button *ngIf="onceki" class="btn  oncekiBtn" (click)="previousPage()">Önceki</button>
      <button *ngIf="onceki==false" class="btn oncekiBtnHidden"></button>
      <button *ngIf="sonraki"  class="btn  sonrakiBtn" (click)="nextPage()">Sonraki</button>
      <button *ngIf="sonraki==false" class="btn sonrakiBtnHidden"></button>
    </div>
  </div>

  <br>
</body>

</html>