<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deneme</title>
</head>
<body>
  <div class="container tablea">
    <div class="row justify-content-center mt-3 mb-2">
      <select class="form-select aramaSelect" aria-label="Default select example"
         [(ngModel)]="filtreleSecili">
        <option value="filtrele">Filtrele..</option>
        <option value="id">İd</option>
        <option value="kullaniciid">Kullanıcı Id</option>
        <option value="durum">Durum</option>
        <option value="islem">İşlem</option>
        <option value="aciklama">Açıklama</option>
        <option value="tarih">Tarih(Yıl-Ay-Gün)</option>
        <option value="kullaniciip">Kullanıcı Ip</option>
      </select>
      <input type="text" placeholder="Değer.." [(ngModel)]="filtreleDeger" class="form-control aramaInput">
      <button class="btn aramaButton" (click)="filtrele()">Ara..</button>
      <button class="icon-button-middle  aramaIconButton" (click)="getLogs()"><i class="fas fa-sync-alt icon-medium" ></i></button></div>
          <table class="table table-bordered table-secondary mb-3 ">
              <thead>
                <tr >
                  <td class="tdCheck trthead"> <input type="checkbox" id="selectAll" (change)="onSelectAllChange($event)"></td>
                  <th scope="col" class="tdId trthead">Id</th>
                  <th scope="col" class="td trthead">Kullanıcı Id</th>
                  <th scope="col" class="td trthead">Durum</th>
                  <th scope="col" class="td trthead">İşlem</th>
                  <th scope="col" class="tdKoord trthead">Açıklama</th>
                  <th scope="col" class="td trthead">Tarih</th>
                  <th scope="col" class="td trthead">Kullanıcı Ip</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of paginatedKullanicilar">
                  <td class="tdCheck trBody"><input type="checkbox" value="item.id" [checked]="selectedIds.includes(item.id)" (change)="onCheckboxChange($event, item.id)"></td>
                  <th class="tdId trBody" scope="row">{{item.id}}</th>
                  <td class="td trBody">{{item.userId}}</td>
                  <td class="td trBody">{{item.durum}}</td>
                  <td class="td trBody">{{item.islemTip}}</td>
                  <td class="fixed-width tdKoord trBody">
                    <div>{{item.aciklama | slice:0:50}}...</div>
                  </td>
                  <td class="td trBody">{{item.tarihSaat  | slice:0:10}}</td>
                  <td class="td trBody">{{item.kullaniciIp}}</td>
                </tr>
                <tr *ngFor="let item of listMaker">
                  <th class="tdCheck trBody" scope="row"></th>
                  <td class="tdId trBody"></td>
                  <td class="td trBody"></td>
                  <td class="td trBody"></td>
                  <td class="td trBody"></td>
                  <td class="fixed-width tdKoord trBody"></td>
                  <td class="td trBody"></td>
                  <td class="td trBody"></td>
                </tr>
              </tbody>
            </table>
            <div class="text-center pb-2 mt-4">
              <button class="icon-button-large" (click)="exportToCSV()"><i class="fas fa-print icon-large renkRapor"
                  ></i></button>
            </div>
          
            <div class="text-center ">
              <button *ngIf="onceki" class="btn  oncekiBtn" (click)="previousPage()">Önceki</button>
              <button *ngIf="onceki==false" class="btn oncekiBtnHidden"></button>
              <button *ngIf="sonraki"  class="btn  sonrakiBtn" (click)="nextPage()">Sonraki</button>
              <button *ngIf="sonraki==false" class="btn sonrakiBtnHidden"></button>
            </div>
      </div><br>
</body>
</html>