@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/default.min.css";
/* You can add global styles to this file, and also import other style files */






.ol-scale-line {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  position: absolute; 
  bottom: 10px;
  right: 10px; 
}

 
  
  

  