<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
 <br>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="container form" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">İsim</label>
      <input type="text" class="form-control inputs" aria-describedby="emailHelp" formControlName="name"  >
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">E-mail</label>
      <input type="email" class="form-control inputs"  id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username"  >
      <div *ngIf="myForm.controls['username'].invalid && myForm.controls['username'].touched" class="text-danger">
        Lütfen geçerli bir e-posta adresi girin.
      </div>
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Parola</label>
      <input type="password" class="form-control inputs" formControlName="password"  >
      <div *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched" class="text-danger">
        Parola en az 1 büyük harf, 1 özel karakter, 1 rakam içermeli ve 8 karakterli olmalı.
      </div>
    </div>
    <div class="mb-3">
    <label for="rol">Rol</label>
    <select class="form-select  selects" id="rol" aria-label="Default select example" [(ngModel)]="rol"  formControlName="rol"  >
      <option value="user"  >User</option>
      <option value="admin">Admin</option>
    </select> </div>
    
    <div class="d-grid gap-2 pb-4">
      <button type="submit" class="btn ekleBtn"  >Düzenle</button>
    </div>
  </div>
  </form>
<br><br><br><br><br><br><br><br><br>
</body>
</html>